// Variable Overrides
// Bootstrap Sass Imports
@import "node_modules/bootstrap/scss/bootstrap";

body {
  background-color: #f4f5f6;
}

.container {
  max-width: 1340px;
}

header {
  background-color: red;
  height: 100px;
  font-family: "Roboto Condensed", sans-serif;
}

.date-today {
  display: inline-block;
  font-size: 16px;
  margin-left: 20px;
  margin-bottom: 20px;
  color: white;
}

.subscribe {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-right: 10px;
  float: right;
  font-weight: bold;
}

.subscribe a {
  text-decoration: none;
}

.article-link-left-main a {
  font-size: 17px;
}

.nav-item a {
  text-decoration: none;
  color: black;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 21px;
}

.culture-and-travel a {
  text-decoration: none;
}

.article-tag-culture-travel a {
  text-decoration: none;
  padding: 3px 3px;
}

.article-link-left-main a:hover {
  color: red;
  text-decoration: none;
}

.nav-item a:hover {
  color: red;
}

.subscribe a:hover {
  color: inherit;
}

.article-title a:hover {
  text-decoration: underline red;
  color: black;
}

.sign-in {
  color: white;
}

.sub-button {
  color: red;
  background-color: white;
  padding: 5px 5px;
  margin-left: 10px;
}

.sub-button i {
  margin-left: 5px;
}

.logo {
  width: 426px;
  height: 90px;
  display: block;
}

.logo path {
  fill: white;
}

nav {
  position: relative;
  background-color: white;
}

.nav {
  padding: 15px;
  border-bottom: 1px solid #d9d9d9;
}

nav::before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  display: block;
  width: 22px;
  background-color: red;
  border-left: 12px solid white;
  border-top: 13px solid red;
}

.nav-item {
  color: #adbcd3;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin-left: 15px;
  border-right: 1px solid #d9d9d9;
  padding-right: 15px;
}

.last-nav-item {
  border-right: none;
  padding-top: 5px;
}

main {
  background-color: white;
}

.main-columns-titles {
  color: #a0a0a0;
  font: bold 16px/16px "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 5px;
}

.left-main {
  height: 3540px;
}

main div {
  margin-left: 5px;
}

.center-main {
  height: 2540px;
}

.right-main {
  height: 2540px;
  margin-right: 20px;
}

.article-image {
  position: relative;
  margin-bottom: 15px;
  margin-left: 0;
}

.article-image img {
  width: 100%;
}

.article-category-tag {
  position: absolute;
  bottom: -16px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  color: red;
  font: bold 17px/16px "Roboto Condensed", sans-serif;
  padding: 8.5px 15px;
  text-transform: uppercase;
}

.title-link {
  font-size: 22px;
  line-height: 24px;
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 10px;
  color: black;
  font-weight: bold;
  width: 100%;
}

.article-summary {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
  width: 90%;
  font-size: 15px;
}

.article-link-left-main {
  padding: 10px;
  width: 340px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 20px;
}

.flex-item {
  width: 45%;
}

.culture-and-travel {
  background-color: #f4f5f7;
}

.culture-and-travel div {
  margin-left: 0;
}

.culture-and-travel .main-columns-titles {
  margin-left: 10px;
  color: #333;
}

.culture-and-travel .title-link {
  font-family: 'Lora', serif;
  font-weight: normal;
  font-size: 20px;
}

.paragraph-wrapper {
  margin-left: 10px !important;
}

.culture-and-travel .article-summary {
  margin-bottom: 5px;
  font-size: 15px;
}

.article-tag-culture-travel {
  font: 300 13px/20px "Helvetica Neue", "Helvetica", Arial, sans-serif;
  background-color: #c2d4d7;
  display: inline-block;
}

.article-tag-culture-travel a:hover {
  background-color: #272727;
  color: #c2d4d7;
}

.story-info .title-link {
  font-size: 15px;
  margin-bottom: 0;
}

.story-info .article-title {
  margin-bottom: 10px;
}

.story-info .article-summary {
  font-size: 14px;
}

.clearfix {
  border-top: 1px solid #ddd;
  padding-top: 15px;
}

.clearfix img {
  float: left;
  margin-bottom: 10px;
  margin-right: 15px;
}

.opinion-info {
  float: right;
  width: 75%;
}

.opinion-info .title-link,
.latest-news-info .title-link {
  margin-bottom: 0;
  font: bold 15px/21px "Roboto Condensed", sans-serif;
}

.opinion-info .article-title {
  margin-bottom: 3px;
}

.article-author {
  color: #555;
  text-transform: uppercase;
  font: bold 14px/21px "Roboto Condensed", sans-serif;
}

.first-article {
  border-top: none;
}

.opinion-info a:hover,
.latest-news-info a:hover {
  color: red;
  text-decoration: none;
}

.right-main-article {
  width: 135px;
  height: 90px;
}
